apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets

configurations:
  - crd-label-config.yaml

labels:
  - pairs:
      owner: smc

helmCharts:
  - name: external-secrets
    repo: https://charts.external-secrets.io
    version: 0.9.11
    releaseName: external-secrets
    namespace: external-secrets
    valuesInline:
      installCRDs: true
      processEmpty: true
      webhook:
        create: false
      certController:
        create: false
      serviceAccount:
        create: false
      rbac:
        create: false
      replicaCount: 0
